<h1>Shopping List</h1>
<% if @foods.empty? %>
  <p>No items to purchase.</p>
<% else %>
  <ul>
  <p>The amount of food list : <%= @recipe_foods.count%></p>
    <% @foods.each do |recipe| %>
      <li><%= recipe.name%></li>
    <% end %>
  </ul>
<% end %>
