<section class='home-page'>
<h1>Welcome <%= @users.name %><h1>
<p>"Cooking is all about people. Food is maybe the only universal thing that really has the power to bring everyone together. No matter what culture, everywhere around the world, people get together to eat." - Guy Fieri</p>
</section>