* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(243, 252, 243);
  color: #000;
  font-size: 1rem;
  letter-spacing: 3px;
  width: 80%;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  gap: 1rem;
  flex-direction: column;
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

img {
  width: 300px;
  margin-inline: 1rem;
}

#user-container,
#post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#post-container {
  flex-direction: column;
  padding: 1rem;
}

#user-bio {
  text-align: center;
  margin: 1rem;
}

.button {
  margin-inline: 5rem;
}

.food-form-container {
  margin: auto;
  width: 25%;

  /* border: 3px solid green; */
  padding: 10px;
  background-color: #79d2a0;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
}

.food-form-container h2 {
  margin-left: 35%;
  width: auto;
  color: #fff;
}

.input-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 4px;
  outline: none;
}

.form-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.form-button:hover {
  background-color: #4caf50;
  color: white;
}

nav {
  width: 100%;
  margin-bottom: 3rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #34be76;
  gap: 2rem;
  padding-right: 3rem;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
}

.signin-container {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 1rem;
  letter-spacing: 0;
}

.signin-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding-top: 20px;
  position: relative;
  left: 10%;
  gap: 0.5rem;
}

.foods-container {
  width: 80vw;
  margin-inline: 5rem;
  margin-top: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.food-table {
  background-color: #79d2a0;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #fff;
}

thead {
  background-color: #79d2a0;
}

.col {
  padding: 1rem 0;
  margin: 0.5rem;
  border-bottom: 1px solid #fff;
}

td {
  margin: 2rem 0;
  border-bottom: 1px solid #fff;
  padding-top: 1rem;
}

.btn {
  margin-top: 3rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #4caf50;
  border-radius: 15px;
  outline: 0;
  border: 0;
  box-shadow: 0 0 10px #888;
}

.btn-on {
  background-color: #34be76;
  color: #fff;
  font-size: 2rem;
}

.btn-off {
  background-color: red;
  color: #fff;
  font-size: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  width: 700px;
}

.total {
  font-size: 1rem;
  color: orange;
}

.shopping-text {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  gap: 1rem;
}
